!!! 5
html
    head
    meta(name="viewport", content="width=device-width")
    title= title
    block styles
        include partials/styles
    include partials/jquery
    body
    block navbar
        include partials/navbar
    section#content
        .container
            .row
                block content
    block footer
        include partials/footer
    block scripts
        script(src='/js/bootstrap.min.js')
        script(src='https://ajax.aspnetcdn.com/ajax/knockout/knockout-2.1.0.js')