extends ../layout

block content
	.span12
		h1 About
		p <a href="https://github.com/Aaronontheweb/express-boilerplate">Express Boilerplate</a> is a simple template app to help you make <a href="http://expressjs.com/">Express</a> websites quickly and easily.