extends ../layout

block content
	.span12
		h1 Express Boilerplate
		p This is the default content page for <a href="https://github.com/Aaronontheweb/express-boilerplate">Express Boilerplate</a> - pretty boring huh?
		p I am a piece of content - I hope you enjoy me in all of the glory that I have to offer.
		p What were you expecting? Some Lipsum?