section#footer
    footer
        .container
            .row
                .footerbox
                    Copyright © 2012
                    br
                    a(href='/') Home  
                    span I  
                    a(href='/about') About 
                    span I  
                    a(href='/contact') Contact