link(rel='stylesheet', href='/css/bootstrap.min.css')
link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
link(rel='stylesheet', href='/css/app.css')

//if lt IE 9
    script(src="https://html5shiv.googlecode.com/svn/trunk/html5.js")